<!-- <div class="layout-demo-2-vue">
	<h-layout :headerFixed="headerFixed"> 
	    <h-header theme="dark">
	        <div class="layout-logo">ProxySQL Dashboard</div>
	        <div>
	            将恐管理
	        </div>
	    </h-header> 
		<h-layout :siderFixed="siderFixed" :siderCollapsed="siderCollapsed">
		    左边 
			<h-sider theme="white">
			    <h-menu style="margin-top: 40px;" className="h-menu-white" :datas="menuDatas" :inlineCollapsed="siderCollapsed"></h-menu>
			</h-sider> 
			中间 
			<h-content style="padding: 0px 30px;">
				<h-breadcrumb :datas="datas" style="margin: 16px 0px;"> </h-breadcrumb>
				<div style="background: rgb(255, 255, 255); padding: 24px;height: 280px;">
					<p>
						<h-switch v-model="headerFixed">固定header</h-switch>
					</p>
					<p>
						<h-switch v-model="siderFixed" :disabled="!headerFixed">固定Sider</h-switch>
					</p>
					<p>
						<h-switch v-model="siderCollapsed">收起菜单</h-switch>
					</p>
				</div>
			</h-content>
	    </h-layout> 
	    下边 
        <h-footer class="text-center"> 
	        <span>Copyright ©2019</span>
			<a href="http://www.ch-un.com" target="_blank">Lan</a>
		</h-footer> 
    </h-layout>
</div> -->