<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>proxysql-dashboard</title>
</head>
<link rel="stylesheet" href="./assets/common/common.css"></link>
<link rel="stylesheet" href="./assets/heyui/heyui.css"></link>
<script src="./assets/require/require.min.js" data-main="./main.js"></script>
<body>
	<div id="app">
		<!-- <app-header></app-header> -->
		<div class="layout-header">
			<div class="container">
				<div class="layout-header-logo">
					<a href="javascript:void(0);">ProxySQL Dashboard</a>
				</div>
				<div class="layout-header-menu">
					<ul>
						<li><a href="javasctipr:vpid(0);">配置管理 </a></li>
						<li><a href="javasctipr:vpid(0);">性能监控 </a></li>
						<li><a href="javasctipr:vpid(0);">状态监控</a></li>
					</ul>
				</div>
				<div class="layout-header-dropdown">
					<div class="layout-header-dropdown-a">
						<i class="h-icon-user"></i> <span class="layout-header-username">admin</span>
					</div>
					<ul class="layout-header-dropdown-menu">
						<li><a href="javascript:void(0);">退出</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container layout-content">
			<h-layout style="margin-top: 10px;">
			<!-- 左边  -->
		    <h-sider>
				<ul class="h-menu menu-custom h-menu-mode-normal" style="width: 200px;">
					<li class="h-menu-li">
					    <div content="全局配置" placement="right" class="h-menu-show">
						    <span class="h-menu-show-desc">全局基础配置</span>
					    </div>
				    </li>
					<li class="h-menu-li">
					    <div content="查询" placement="right" class="h-menu-show">
							<span class="h-menu-show-desc">MySQL Server配置</span>
						</div>
					</li>
			    </ul>
			</h-sider> <!-- 中间  --> <h-content> <!-- <h-breadcrumb :datas="datas" style="margin: 16px 0px;"> </h-breadcrumb> -->
			<div style="background: rgb(255, 255, 255);">
				<p>
					<h-switch v-model="headerFixed">固定header</h-switch>
				</p>
				<p>
					<h-switch v-model="siderFixed" :disabled="!headerFixed">固定Sider</h-switch>
				</p>
				<p>
					<h-switch v-model="siderCollapsed">收起菜单</h-switch>
				</p>
			</div>
			</h-content> </h-layout>
			<!-- <router-link to="/config">测试</router-link>
		    <router-view></router-view> -->
		</div>
	</div>
</body>
</html>